*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html{
    font-size: 16px;
}
body{
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 30%;
        margin: auto;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 0.5rem;
        .visualization{
            grid-column: span 4;
            height: 5rem;
            line-height: 5rem;
            margin-bottom: 1rem;
        }
        .btn{
            width: 80%;
            margin: 5px;
            border-radius: 50%;
            text-align: center;
            line-height: 0;
            span{
                display: inline-block;
                padding-bottom: 50%;
                padding-top: 50%;
                font-weight: bold;
            }
            &:hover{
                background: rgba(132, 194, 255, 0.5);
            }
            &:focus{
                border: 0.3px solid;
                border-color: rgb(255, 255, 255) rgba(132, 194, 255, 0.5) rgba(132, 194, 255, 0.5) rgb(255, 255, 255) ;
                box-shadow: inset 5px 5px 13px rgba(132, 194, 255, 0.5), inset -3px -3px 13px rgb(255, 255, 255);
                background: linear-gradient(to right, rgb(241, 248, 255) 0%, rgb(227, 237, 247) 100%) ;
                text-align: center;
            
            }
        }
        .operator{
            background:  rgb(169, 210, 252);
            &:hover{
                background:  rgb(118, 187, 255);
            }
        }
        .equal{
            background:  rgb(96, 160, 223);
            &:hover{
                background: rgb(73, 150, 228);
            }
        }
    }
}


.inside{
    border: 0.3px solid;
    border-color: rgb(255, 255, 255) rgba(132, 194, 255, 0.5) rgba(132, 194, 255, 0.5) rgb(255, 255, 255) ;
    box-shadow: inset 5px 5px 13px rgba(132, 194, 255, 0.5), inset -3px -3px 13px rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(241, 248, 255) 0%, rgb(227, 237, 247) 100%) ;
    text-align: center;
}
.outside{
    border: 0.3px solid;
    border-color: rgb(255, 255, 255) rgba(132, 194, 255, 0.25) rgba(132, 194, 255, 0.5) rgb(255, 255, 255);
    box-shadow: 5px 5px 13px rgba(132, 194, 255, 0.5), -3px -3px 10px rgba(255, 255, 255, 0.9);
    background: linear-gradient(to right, rgb(241, 248, 255) 0%, rgb(227, 237, 247) 100%) ;
}

@media screen and (max-width: 1100px){
    body{
        .container{
            width: 40%;
        }
    }
}
@media screen and (max-width: 800px){
    body{
        .container{
            width: 60%;
        }
    }
}
@media screen and (max-width: 600px){
    body{
        .container{
            width: 90%;
        }
    }
}